<div class="container">
    <center><h1 style="font-family: 'Times New Roman', monospace;">New Project</h1></center>
    
    <div class="col-md-4 offset-4 ">
        <%= render 'form', project: @project %>
    </div>
    
    
   
</div>
